#cdt-app-menu {
  position: absolute;
  top: 0;
  right: 6px;
  z-index: 1;
}

#cdt-app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  border: none;
}
#cdt-app-container > .ui-tabs-nav {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  border-top: none;
  border-left: none;
  border-right: none;
}
#cdt-app-container > .cdt-app-view {
  position: absolute;
  /*
   * Top is calculated by the app since the height of the tabs header is not
   * guaranteed to be a constant value.
   */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
}

.cdt-msg {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: #DDD;
}

.cdt-msg.error {
  background-color: #AA0000;
}

.cdt-msg.info {
  background-color: #00AA00;
}

.cdt-list {
  position: relative;
}

.cdt-list table, .cdt-list tbody, .cdt-list thead {
  display: block;
}

.cdt-list table {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  border-collapse: separate;
}

.cdt-list tbody {
  position: absolute;
  /* Top is set programatically */
  bottom: 0;
  left: 0;
  right: 0;

  border-top: none;
  border-bottom: none;

  overflow: auto;
  overflow-x: hidden;
}

.cdt-list th, .cdt-list td {
  position: relative;
  top: 0;
  left: 0;
  border-right: none;
}

.cdt-list th {
  padding: 10px;
  border-top: none;
  border-bottom: none;
}

.cdt-list td {
  padding: 5px;
  border-top: none;
  vertical-align: middle;
}

.cdt-list td.left-col, .cdt-list th.left-col {
  border-left: none;
}

.cdt-list td.no-data {
  text-align: center;
  color: #333;
}

.cdt-pager {
  height: 50px;
  padding-left: 40px;
  padding-right: 20px;
  line-height: 50px;
}

.cdt-pager span.page-lbl {
  margin: 0 10px 0 20px;
}
.cdt-pager .current-page {
  width: 35px;
  border: 1px solid #555;
  padding-left: 5px;
  text-align: center;
}
.cdt-pager .num-pages {
  margin: 0 20px 0 10px;
}

.ui-widget.cdt-form label {
  display: block;
}
.ui-widget.cdt-form input,
.ui-widget.cdt-form textarea,
.ui-widget.cdt-form select,
.ui-widget.cdt-form .ui-spinner {
  display: block;
  margin: 5px 0;
  padding: 2px 3px;
}

.ui-widget.cdt-form input.text,
.ui-widget.cdt-form input.password,
.ui-widget.cdt-form textarea,
.ui-widget.cdt-form select {
  width: 100%
}

.ui-widget.cdt-form .ui-spinner {
  width: 100px;
}

.ui-widget.cdt-form .ui-spinner input {
  margin: 0;
}

.cdt-section,
.cdt-section .cdt-section-head,
.cdt-section .cdt-section-body {
  padding: 3px;
}

.cdt-section .cdt-section-head .header-text {
  margin: 0 10px;
}

.cdt-section .cdt-section-body {
  margin-top: 7px;
}

.cdt-toolbar .separator {
  border: 1px solid #AAA;
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 1.4em;
  margin: 0 11px;
}

.cdt-btn-menu .cdt-btn-menu-item {
  cursor: pointer;
  padding: 2px 5px;

  /* Add a transparent border so that when a border is added by the hover style
     the menu isn't resized */
  border: 1px solid transparent; 
}

.cdt-icon {
  display: inline-block;
}
.cdt-icon svg {
  vertical-align: middle;
}

.global-config-editor h1 {
  font-size: 2em;
  color: #999;
  font-weight: 700;
  margin: 0 0 20px 10px;
}
.global-config-editor h1 .cdt-icon {
  margin-right: 10px;
  vertical-align: middle;
}
.cdt-config-section {
  padding: 20px;
}
.cdt-config-section .section-name {
  font-size: 1.5em;
  font-weight: 700;
}
.cdt-config-section .section-name .cdt-icon {
  cursor: pointer;
  margin-left: 20px;
}
.cdt-config-section > .cdt-config-value label {
  float: left;
  margin-left: 20px;
}
.cdt-config-section > .cdt-config-value div {
  margin-left: 150px;
}
.cdt-config-section > .cdt-config-value div span {
  margin-right: 20px;
  vertical-align: middle;
}
.cdt-config-section > .cdt-config-value div button {
  vertical-align: middle;
}

.ui-widget .input-label {
  margin-right: 20px;
}

.ui-widget select {
  padding: .4em 1em;
  line-height: 1.4;
  width: 250px;
}
.ui-widget input.text,
.ui-widget input.password {
  padding: 2px 3px;
  height: 24px;
}

.ui-widget input.text.working {
  background-image: url(../img/working-small.gif);
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

.ui-widget input.text.invalid,
.ui-widget input.password.invalid,
.ui-widget .ui-spinner.invalid {
  border: 1px solid #C50000;
}

.ui-button-small.ui-button-text-only .ui-button-text,
.ui-button-small.ui-button-icons-only .ui-button-text {
  padding: .1em 1em;
  font-size: .8em;
}
.ui-button-small.ui-button-icons-only {
  width: 2.5em;
}
.ui-button-small.ui-button-icon-only {
  width: 1em;
}

.hblock {
  display: inline-block;
  margin-right: 10px;
}
.hblock .hblock-lbl {
  display: block;
  color: #777;
  font-size: .9em;
}
.hblock-lbl.primary {
  color: #222;
  font-size: 1.1em;
}
