#cdt-app-menu {
  position: absolute;
  top: 0;
  right: 6px;
  z-index: 1;
}

#cdt-app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  padding: 0;
  border: none;
}
#cdt-app-container > .ui-tabs-nav {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;

  border-top: none;
  border-left: none;
  border-right: none;
}
#cdt-app-container > .cdt-app-view {
  position: absolute;
  /*
   * Top is calculated by the app since the height of the tabs header is not
   * guaranteed to be a constant value.
   */
  bottom: 0;
  left: 0;
  right: 0;
  padding: 10px;
  overflow: auto;
  overflow-x: hidden;
}

.cdt-btn-menu .cdt-btn-menu-item {
  cursor: pointer;
  padding: 2px 5px;

  /* Add a transparent border so that when a border is added by the hover style
     the menu isn't resized */
  border: 1px solid transparent; 
}

.cdt-app-view h1 {
  font-size: 2em;
  color: #999;
  font-weight: 700;
  margin: 0 0 20px 10px;
}
.cdt-app-view h1 .cdt-icon {
  margin-right: 10px;
}
.cdt-app-view h1 .cdt-icon svg {
  vertical-align: baseline;
}
.cdt-config-section {
  padding: 20px;
}
.cdt-config-section .section-name {
  font-size: 1.5em;
  font-weight: 700;
}
.cdt-config-section .section-name .cdt-icon {
  cursor: pointer;
  margin-left: 20px;
}
.cdt-config-section > .cdt-config-value label {
  float: left;
  margin-left: 20px;
}
.cdt-config-section > .cdt-config-value div {
  margin-left: 150px;
}
.cdt-config-section > .cdt-config-value div span {
  margin-right: 20px;
  vertical-align: middle;
}
.cdt-config-section > .cdt-config-value div button {
  vertical-align: middle;
}

.ui-button-small.ui-button-text-only .ui-button-text,
.ui-button-small.ui-button-icons-only .ui-button-text {
  padding: .1em 1em;
  font-size: .8em;
}
.ui-button-small.ui-button-icons-only {
  width: 2.5em;
}
.ui-button-small.ui-button-icon-only {
  width: 1em;
}

.hblock {
  display: inline-block;
  margin-right: 10px;
}
.hblock .hblock-lbl {
  display: block;
  color: #777;
  font-size: .9em;
}
.hblock-lbl.primary {
  color: #222;
  font-size: 1.1em;
}
