[submodule "lib/jslib/jquery-cookie"]
	path = lib/jslib/jquery-cookie
	url = /home/pgraham/lib/jslib/jquery-cookie/
[submodule "lib/jslib/jquery-ui"]
	path = lib/jslib/jquery-ui
	url = /home/pgraham/lib/jslib/jquery-ui
