body > .ui-tabs {
  padding: 0;
  border: none;
}
body > .ui-tabs > .ui-tabs-panel {
  position: absolute;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  overflow-x: hidden;
}

.cdt-app-msg {
  position: absolute;
  bottom: 0;
  height: 20px;
  left: 13px;
  right: 13px;
  padding: 3px 0;

  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-align: center;
  color: #DDD;
}

.cdt-app-msg.error {
  background-color: #AA0000;
}

.cdt-list th.ui-widget-header {
  padding: 10px;
}

.cdt-list td.ui-widget-content {
  padding: 5px;
  vertical-align: top;
}

.cdt-form label {
  float: left;
  height: 25px;
}

.cdt-form input,
.cdt-form textarea,
.cdt-form select,
.cdt-form .ui-spinner {
  display: block;
  margin: 5px 0 5px 150px;
  padding: 2px 3px;
}

.cdt-form input.text,
.cdt-form textarea,
.cdt-form select {
  width: 400px;
}

.cdt-form input {
  height: 20px;
}

.cdt-form .ui-spinner {
  width: 100px;
}

.cdt-form .ui-spinner input {
  margin: 0;
}

.cdt-section,
.cdt-section .cdt-section-head,
.cdt-section .cdt-section-body {
  padding: 3px;
}

.cdt-section .cdt-section-head .header-text {
  margin: 0 10px;
}

.cdt-section .cdt-section-body {
  margin-top: 7px;
}
