body {
  font-family: 'Allerta', sans-serif;
  font-size: 70%;
}
td, th {
  padding: 0.5em;
}

#menu ul.ui-menu {
  float:none;
}
#menu ul.ui-menu li.ui-menu-item,
#menu ul.ui-menu li.ui-menu-item a {
  float:none;
  display:inline;
  margin:0 1px;
}

#ctnt {
  margin: 20px 0;
}

#cdt-Admin {
  padding:20px;
}

.cdt-TabbedDialog.ui-dialog .ui-dialog-content {
  padding:0;
}

.cdt-TabbedDialog.ui-dialog .ui-dialog-content .ui-tabs {
  padding:0;
  border: none;
}

.cdt-TabbedDialog fieldset {
  border: none;
}

.cdt-TabbedDialog fieldset label {
  float: left;
  height:25px;
}

.cdt-TabbedDialog fieldset input,
.cdt-TabbedDialog fieldset textarea,
.cdt-TabbedDialog fieldset select,
.cdt-TabbedDialog fieldset .ui-spinner {
  display: block;
  margin:5px 0 5px 150px;
  padding:2px 3px;
}

.cdt-TabbedDialog fieldset input {
  height:20px;
}

.cdt-TabbedDialog fieldset input.text,
.cdt-TabbedDialog fieldset textarea,
.cdt-TabbedDialog fieldset select {
  width: 400px;
}
.cdt-TabbedDialog fieldset textarea {
  height: 200px;
}

.cdt-TabbedDialog fieldset .ui-spinner {
  width: 100px;
}
.cdt-TabbedDialog fieldset .ui-spinner input {
  margin:0;
}

.cdt-ModelDualGrid .cdt-ModelEditorGrid,
.cdt-ModelDualGrid .cdt-ModelDualGridControls {
  float:left;
}
.cdt-ModelDualGrid .cdt-ModelDualGridControls button {
  display:block;
  width: 150px;
  margin: 10px;
}
.cdt-ConfigEditor textarea {
  width: 470px;
  height: 200px;
}
