.ui-widget.cdt-form label {
  display: block;
}
.ui-widget.cdt-form input,
.ui-widget.cdt-form textarea,
.ui-widget.cdt-form select,
.ui-widget.cdt-form .ui-spinner {
  display: block;
  margin: 5px 0;
  padding: 2px 3px;
}

.ui-widget.cdt-form input.text,
.ui-widget.cdt-form input.password,
.ui-widget.cdt-form textarea,
.ui-widget.cdt-form select {
  width: 100%
}

.ui-widget.cdt-form .ui-spinner {
  width: 100px;
}

.ui-widget.cdt-form .ui-spinner input {
  margin: 0;
}

