.cdt-list {
  position: relative;

  table, tbody, thead {
    display: block;
  }

  table {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-collapse: separate;
  }

  &.paged {
    border-bottom: none;
  }

  tbody {
    position: absolute;
    /* Top is set programatically */
    bottom: 0;
    left: 0;
    right: 0;

    overflow: auto;
    overflow-x: hidden;
  }

  th, td {
    position: relative;
    top: 0;
    left: 0;
    padding: 5px;

    border-right: none;

    &.check-col {
      width: 40px;
      padding: 0;
      text-align: center;

      border-left: none;
    }
  }

  tbody td {
    border-top: none;
  }


  thead tr:first-child th {
    border-top: none;
  }

  td {
    vertical-align: middle;
  }

  tr.no-data td {
    text-align: center;
    color: #333;
  }
}
