.cdt-list {
  position: relative;

  table, tbody, thead {
    display: block;
  }

  table {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    
    border-collapse: separate;
  }

  tbody {
    position: absolute;
    /* Top is set programatically */
    bottom: 0;
    left: 0;
    right: 0;

    border-top: none;
    border-bottom: none;

    overflow: auto;
    overflow-x: hidden;
  }

  th, td {
    position: relative;
    top: 0;
    left: 0;
    border-right: none;

    &.left-col {
      border-left: none;
    }
  }

  th {
    padding: 10px;
    border-top: none;
    border-bottom: none;
  }

  td {
    padding: 5px;
    border-top: none;
    vertical-align: middle;
  }

  tr.no-data td {
    text-align: center;
    color: #333;
  }
}
