body {
  font-family: 'Allerta', sans-serif;
}

#menu ul.ui-menu li.ui-menu-item,
#menu ul.ui-menu li.ui-menu-item a {
  display:inline;
  margin:0 1px;
}

#ctnt {
  padding: 20px 0;
}

.cdt-FormDialog label {
  float: left;
  height:25px;
}

.cdt-FormDialog input {
  display: block;
  height:20px;
  margin:5px 0 5px 150px;
}

.cdt-FormDialog input.text {
  width: 300px;
}

.cdt-FormDialog fieldset {
  border: none;
}
